@charset "utf-8";

/* ヘッダー */

header,
footer {
  position: relative;
}

.main_visual {
  width: 555px;
  margin: 0 auto;
  position: relative;
}

.hero_img {
  /* display: block; */
  width: 100%;
  position: relative;
}

.pc_nav {
  position: fixed;
  top: 48px;
  z-index: 1000;
  right: 48px;
}

.pc_nav a {
  font-size: 1.5rem;
}

.header_nav_btn {
  width: 190px;
  padding-right: 7px;
}

/*SPnav非表示*/
.sp_nav,
.works_all_sp_nav,
.works_banner_sp_nav,
.works_banner_sp_header_list {
  display: none;
}

.header_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.header_list_item:hover,
.sp_header_list_item:hover,
.works_all_sp_header_list_item:hover,
.works_banner_sp_header_list_item:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.pf_title {
  display: flex;
  align-items: flex-end;
}

.pf_title > div p {
  font-size: 1.125rem;
  letter-spacing: 0.065em;
}

.pf_title > div > p:last-child {
  margin-top: 11px;
}

.pf_title span {
  padding-left: 4px;
}

h1 {
  position: absolute;
  top: 250px;
  left: -42%;
  z-index: 10;
}

h1 div:last-child {
  margin-top: 32px;
}

.pf_concept {
  width: 262px;
}

/*メールアイコン非表示*/
.mail_icon {
  display: none;
}

/* スクロールバー */
.scroll_down p {
  position: absolute;
  top: 632px;
  left: 72px;
  font-size: 1rem;
  writing-mode: vertical-lr;
  text-decoration: none;
  text-transform: uppercase;

  /* グラデーション */
  background: linear-gradient(#181e4d, #4e7fa1, #8aecff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scroll_down:after {
  content: "";
  position: absolute;
  top: 725px;
  left: 80px;
  width: 1px;
  height: 272px;
  background: var(--accent_color_gd);
  z-index: 1;
}

.scroll_down:before {
  content: "";
  position: absolute;
  top: 750px;
  left: 74.5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--accent_color_gd);
  animation: circlemove 1.8s ease-in-out infinite,
    cirlemovehide 1.8s ease-out infinite;
  z-index: 10;
}

@keyframes circlemove {
  0% {
    top: 750px;
  }
  100% {
    top: 990px;
  }
}

@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

/*あしらい０１*/
.roop_wrapper01 {
  max-width: 1440px;
  margin-left: auto;
  position: absolute;
  bottom: -560px;
  right: 0;
  width: 100%;
}

.roop_design01 {
  width: 100%;
}

/* WORKS parallaxまで手をつけれたらいいな*/
.works_section {
  max-width: 1000px;
  margin: 550px auto 0 auto;
  padding: 0 20px;
}

.works_header {
  font-weight: bold;
  text-align: right;
  font-size: 1.5rem;
}

.works_header span {
  /* グラデーション 動きをつける*/
  background: linear-gradient(90deg, #181e4d, 80%, #8aecff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article:not(:first-child) {
  margin-top: 146px;
}

/*文章と画像を横並びにする*/
article > div {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
}

/*画像を510pxまでにする*/
article > div:nth-child(2) {
  max-width: 510px;
}

/*ポートフォリオ紹介*/
article > div > div:first-child {
  width: 48.5%;
}

article > div > div:last-child {
  width: 51.8%;
}

/*ポートフォリオ以外紹介*/
article:not(:first-of-type) > div > div {
  width: 48.4%;
  /* (1000px-32px)/2=484px*/
  /* 484/1000=0.484 */
}

/*WORKSの共通コンテンツ*/
.works_content,
.works_content01,
.works_content02 {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.works_content01 {
  padding-top: 0;
}
.order_item_01 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.works_category,
.works_category02,
.works_sub_category,
.works_sub_category02,
.works_sub_category03 {
  font-size: 0.75rem;
  color: var(--base_color_light);
}

.works_sub_category,
.works_sub_category02,
.works_sub_category03 {
  margin-top: 20px;
}

.works_title,
.works_title02 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 24px;
}

.works_discription,
.works_discription02 {
  font-size: 0.875rem;
  line-height: 1.86;
  margin-top: 40px;
}

/*カテゴリーの青い点線*/
.works_sub_category::after {
  content: "";
  display: block;
  width: 149px;
  border-bottom: 1px dotted var(--accent_color01);
  padding-top: 4px;
}

.works_sub_category03::after,
.works_sub_category02::after {
  content: "";
  display: block;
  width: 108px;
  border-bottom: 1px dotted var(--accent_color01);
  padding-top: 4px;
}
/*WORKS_ボタン*/
.works_btn,
.works_btn02 {
  display: inline-block;
  width: 226px;
  font-size: 0.875rem;
  border: 1px dotted #3e3e3e;
  border-radius: 5px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.works_btn::after,
.works_btn02::after {
  content: "";
  display: inline-block;
  width: 16px;
  border-bottom: 1px solid var(--base_color_light);
  margin-left: 16px;
}

/*WORKS_ViewAllボタン*/

.view_all_wrapper {
  max-width: 312px;
  margin: 150px auto 0 auto;
  position: relative;
}

.view_all_wrapper img {
  width: 100%;
}

.view_all_wrapper p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;
}

.view_all_wrapper p::after {
  content: "";
  display: inline-block;
  width: 32px;
  border-bottom: 1px solid #fff;
  border-radius: 5px;
  margin-left: 16px;
}
/*あしらい０2*/
.roop_wrapper02 {
  max-width: 1440px;
  /* position: relative; */
  width: 100%;
  position: absolute;
  bottom: -3200px;
  left: 0;
  z-index: -1;
}

/* .roop_design02 {
  width: 100%;
  position: absolute;
  bottom: -3200px;
  left: 0;
  z-index: 10;
} */

/*ABOUT*/
.about_header,
.about_me_header {
  max-width: 1000px;
  margin: 0 auto;
  padding: 88px 20px 0 20px;
  text-align: left;
  color: #fff;
  font-size: 1.5rem;
}

.about_section {
  background-image: url(../images/1x/about_back.png);
  background-size: 100% 100%;
  background-position: center;
  margin-top: 420px;
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  z-index: -2;
}

.about_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  max-width: 830px;
  margin: 118px auto 0 auto;
  padding: 0 20px 168px 20px;
}

.profile_wrapper {
  width: 45%;
}

.about_img_wrapper {
  width: 312px;
  max-width: 312px;
}

.name_wrapper,
.about_name_wrapper {
  display: flex;
  align-items: flex-end;
}

.name_wrapper p {
  color: #fff; /* 共通の文字色 */
}

.name_wrapper p:first-child {
  font-size: 1.125rem; /* 1つ目のp */
}

.name_wrapper p:last-child {
  font-size: 0.875rem; /* 2つ目のp */
  padding-left: 8px;
}

.about_discription {
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.86;
  padding-top: 28px;
}

.about_img {
  width: 100%;
}

.about_btn {
  display: inline-block;
  width: 226px;
  font-size: 0.875rem;
  background-color: #fff;
  border: 1px dotted #3e3e3e;
  border-radius: 5px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.about_btn::after {
  content: "";
  display: block;
  width: 16px;
  border-bottom: 1px solid var(--base_color_light);
  margin-left: 16px;
}

/*ページ中間のバー*/
.bar {
  height: 720px;
  position: relative;
}

.bar div:after {
  content: "";
  position: absolute;
  top: 50%; /* 親要素の縦の真ん中 */
  left: 50%; /* 親要素の横の真ん中 */
  transform: translate(-50%, -50%); /* 要素自身の大きさ分ずらして中央揃え */
  width: 1px;
  height: 196px;
  background: var(--accent_color_gd);
  z-index: 1;
}

.bar div:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--accent_color_gd);
  animation: circlemove_aaa 1.8s ease-in-out infinite,
    cirlemovehide 1.8s ease-out infinite;
  z-index: 10;
}

@keyframes circlemove_aaa {
  0% {
    transform: translate(-50%, -50%) translateY(-72px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(88px);
  }
}

/*コンタクト*/
/*h2*/
.contact_section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact_header {
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
}

.contact_header > span {
  /* グラデーション 動きをつける*/
  background: linear-gradient(90deg, #181e4d, 80%, #8aecff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.contact_wrapper > div {
  width: 31.4%;
}

.contact_wrapper > form {
  width: 48.3%;
}

.c-form_item {
  display: flex;
  flex-direction: column;
}

.c-form_label {
  font-size: 1rem;
}

.c-form_item:not(:first-child) .c-form_label {
  margin-top: 38px;
}

/*アスタリスク*/
.c-form_item:nth-child(2) .c-form_label::after,
.c-form_item:nth-child(3) .c-form_label::after,
.c-form_item:nth-child(4) .c-form_label::after {
  content: "*";
  vertical-align: top;
  color: #ed1c24;
  font-size: 0.875rem;
}

.c-form_item:nth-child(2) .c-form_label::after,
.c-form_item:nth-child(4) .c-form_label::after {
  padding-left: 3px;
}

.c-form_item:nth-child(3) .c-form_label::after {
  padding-left: 1px;
}

/*入力欄*/
.c-form_input {
  width: 100%;
  margin-top: 14px;
  padding: 11.5px 4px;
  border: 1px solid var(--accent_color02);
  border-radius: 5px;
  box-sizing: border-box;
}

.c-form_input:focus {
  border: 1px solid var(--accent_color01);
  outline: 0;
}

.contact_wrapper p {
  font-size: 0.875rem;
  line-height: 1.86;
}

textarea.c-form_input {
  line-height: 1.5em;
  padding: 8px 4px 96px 4px;
  font-family: none;
}

/*送信ボタン*/
.c-form_submit {
  max-width: 276px;
  margin-top: 56px;
  margin-left: auto;
  position: relative;
}
.c-form_submit img {
  width: 100%;
}
.c-form_submit button {
  width: 100%;
  font-size: 1rem;
}

/*文字表示や位置の調節*/
.c-form_submit p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.c-form_submit p::after {
  content: "";
  display: inline-block;
  width: 32px;
  border-bottom: 1px solid #fff;
  border-radius: 5px;
  margin-left: 20px;
}

/* フッター */
footer {
  margin: 672px 0 72px 0;
  position: relative;
}

footer p {
  font-size: 0.625rem;
  text-align: center;
}

/*あしらい０3*/
.roop_wrapper03 {
  max-width: 1440px;
  width: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

/*別ページ：WORKS_ALL*/
.works_all_wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 308px;
}

.works_all_header {
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
}

.works_all_header > span {
  /* グラデーション 動きをつける*/
  background: linear-gradient(90deg, #181e4d, 80%, #8aecff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.works_all_section {
  max-width: 914px;
  margin-left: auto;
  margin-top: 96px;
}
.works_all_discription {
  font-size: 1rem;
  line-height: 1.62;
}

/*別ページ：WORKS_ALL 一覧コンテンツ部分 flex */
.flex_01 {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.flex_02 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 72px 0 700px 0;
}

.flex_01_innner,
.flex_02_innner {
  max-width: 43.8%;
}

.flex_01_innner:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.flex_02_inner:nth-of-type(3),
.flex_02_inner:nth-of-type(4) {
  margin-top: 72px;
}

.flex_item {
  width: 100%;
  padding: 4px;
  border: 1px solid var(--accent_color01);
  background-color: #fff;
  border-radius: 5px;
  margin-top: 8px;
}

.flex_item_img {
  width: 100%;
  filter: grayscale(100%);
}

.flex_item_img:hover {
  filter: grayscale(0);
  transition: 0.5s;
}

.title_flex {
  display: flex;
}

.title_flex:nth-of-type(3) {
  margin-top: 45px;
}

/*別ページ：WORKS_ALL 一覧コンテンツ部分 装飾 */
.works_all_SPtitle {
  display: none;
}
.title_flex p {
  font-size: 0.875rem;
}

.works_all_title::after {
  content: ":";
  padding: 0 4px;
}

.works_all_title:nth-of-type(3) {
  margin-top: 45px;
}
.works_all_category {
  text-align: right;
  color: var(--accent_color01);
  font-size: 0.75rem;
  margin-top: 8px;
}

/*あしらい０4*/
.roop_wrapper04 {
  max-width: 1440px;
  margin-left: auto;
  position: absolute;
  top: 100px;
  right: 0;
  width: 90%;
  /* margin: 0 calc(50% - 50vw); */
  z-index: -1;
}

.roop_wrapper05 {
  max-width: 1440px;
  margin-left: auto;
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
  /* margin: 0 calc(50% - 50vw); */
  z-index: -1;
}

.roop_design04,
.roop_design05 {
  width: 100%;
}

/*別ページ　WORKSバナー０１*/

.banner_wrapper,
.works_banner_bar {
  max-width: 650px;
  margin: 0 auto;
}

.banner_wrapper {
  padding-top: 280px;
}

/*WORKSBANNER 配置*/
.banner_img {
  width: 100%;
  border: 1px solid #cccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}

.banner_flex {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 88px;
}

.banner_img > img {
  padding: 4px;
}

/*WORKSBANNER 余白*/
.banner_wrapper h3 {
  margin-top: 16px;
}

/*WORKSBANNER 説明・ポイント*/
.banner_sub_category {
  font-size: 0.75rem;
  margin-top: 16px;
}

.banner_discription,
.banner_inner p,
.tool {
  font-size: 0.9375rem;
  line-height: 1.86;
}

.banner_inner p:last-child {
  margin-top: 24px;
}

.banner_discription {
  margin-top: 72px;
}

.banner_sub_category,
.tool {
  text-align: right;
  color: var(--base_color_light);
}

.tool {
  margin-top: 32px;
}

/*.toolの青い点線*/
.tool::after {
  content: "";
  display: block;
  width: 254px;
  border-bottom: 1px dotted var(--accent_color01);
  margin-left: auto;
}

/*WORKSBANNER フッター*/
.works_banner_footer {
  position: relative;
}
/*WOORKSBANNERあしらい*/
.roop_wrapper06 {
  max-width: 1440px;
  position: absolute;
  bottom: 640px;
  left: 0;
  width: 100%;
}

.roop_design06 {
  width: 100%;
}

/*WORKSBANNER 中間bar*/
.works_banner_bar {
  margin-top: 288px;
}
.works_banner_bar > p {
  text-align: center;
}

.works_banner_bar div {
  height: 320px;
  position: relative;
}

.works_banner_bar div::after {
  content: "";
  position: absolute;
  top: 50%; /* 親要素の縦の真ん中 */
  left: 50%; /* 親要素の横の真ん中 */
  transform: translate(-50%, -50%); /* 要素自身の大きさ分ずらして中央揃え */
  width: 1px;
  height: 196px;
  background: var(--accent_color_gd);
  z-index: 1;
}

.works_banner_bar div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--accent_color_gd);
  animation: circlemove_banner 1.8s ease-in-out infinite,
    cirlemovehide 1.8s ease-out infinite;
  z-index: 2;
}

@keyframes circlemove_banner {
  0% {
    transform: translate(-50%, -50%) translateY(-72px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(88px);
  }
}

@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

/*別ページ　WORKS SITE*/
.site_main {
  padding-top: 280px;
}

.site_wrapper01,
.site_banner_bar {
  max-width: 830px;
  margin: 0 auto;
}

/*WORK SITE 余白*/
.site_wrapper01 h3 {
  margin-top: 16px;
}

/*WORKS SITE メイン画像*/
.site_img {
  width: 100%;
  border: 1px solid #cccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}

.site_img > video {
  width: 100%;
  padding: 4px;
}
/*WORKS SITE配置*/
.site_flex {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 88px;
}

/*WORKS SITE説明文など*/
.site_sub_category {
  font-size: 0.75rem;
  margin-top: 16px;
}

.site_sub_category {
  text-align: right;
  color: var(--base_color_light);
}

.site_discription,
.site_inner p {
  font-size: 0.9375rem;
  line-height: 1.86;
}

.site_inner p:last-child {
  margin-top: 24px;
}

.site_discription {
  margin-top: 72px;
}

/*WORKS SITE スクロールバー*/
.site_banner_bar {
  margin-top: 288px;
}
.site_banner_bar > p {
  text-align: center;
}

.site_banner_bar div {
  height: 320px;
  position: relative;
}

.site_banner_bar div::after {
  content: "";
  position: absolute;
  top: 50%; /* 親要素の縦の真ん中 */
  left: 50%; /* 親要素の横の真ん中 */
  transform: translate(-50%, -50%); /* 要素自身の大きさ分ずらして中央揃え */
  width: 1px;
  height: 196px;
  background: var(--accent_color_gd);
  z-index: 1;
}

.site_banner_bar div::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--accent_color_gd);
  animation: circlemove_banner 1.8s ease-in-out infinite,
    cirlemovehide 1.8s ease-out infinite;
  z-index: 10;
}

/*Launchボタン*/
.site_launch_btn {
  max-width: 312px;
  margin-left: auto;
  margin-top: 190px;
  position: relative;
}

.site_launch_btn img {
  width: 100%;
}

.site_launch_btn p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1.125rem;
}

.site_launch_btn p::after {
  content: "";
  display: inline-block;
  width: 32px;
  border-bottom: 1px solid #fff;
  border-radius: 5px;
  margin-left: 16px;
}

/*WORKS SITE ページ毎の画像　PC*/

.site_page_img00 {
  margin-top: 218px;
}

.site_page_img {
  margin-top: 64px;
}

.site_page_img00,
.site_page_img {
  padding: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
}

/*WORKS SITE ページ毎の画像　SP*/
.site_wrapper02 {
  max-width: 1000px;
  margin: 64px auto 0 auto;
}

.site_page_flex {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}

.site_pageSP_img {
  width: 30%;
  padding: 4px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
}

.site_pageSP_img > img {
  width: 100%;
}

/*あしらい０７*/
.roop_wrapper07 {
  max-width: 1440px;
  position: absolute;
  bottom: 100px;
  left: 0;
  width: 100%;
}

/*あしらい０8*/

/* .roop_wrapper08 {
  max-width: 1440px;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
} */

/*ABOUT_ME PC版 */
.about_me_main {
  padding-top: 220px;
}

.about_me_section {
  background-image: url(../images/1x/about_back.png);
  background-size: 100% 100%;
  background-position: center;
  padding-bottom: 168px;
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  z-index: -2;
}

.about_me_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  gap: 10px;
  max-width: 830px;
  margin: 118px auto 0 auto;
}

.about_profile_wrapper {
  width: 58%;
}

.about_me_img_wrapper {
  width: 32%;
}

.about_me_img {
  width: 100%;
  border-radius: 5px;
}

/*ABOUT ME 自己紹介部分*/
.about_name_wrapper p {
  color: #fff; /* 共通の文字色 */
}

.about_name_wrapper p:first-child {
  font-size: 1.125rem; /* 1つ目のp */
}

.about_name_wrapper p:last-child {
  font-size: 0.875rem; /* 2つ目のp */
  padding-left: 8px;
}

.about_me_discription01,
.about_me_discription02,
.about_me_discription03,
.about_me_discription04 {
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.86;
  padding-top: 24px;
}

/*PC版サービスセクション */
.service_header {
  max-width: 1000px;
  margin: 0 auto;
  padding: 243px 20px 0 20px;
  text-align: left;
  font-size: 1.5rem;
}

.service_header > span {
  /* グラデーション 動きをつける*/
  background: linear-gradient(90deg, #181e4d, 80%, #8aecff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.service_flex {
  max-width: 830px;
  margin: 104px auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.service_wrapper {
  width: 38%;
}

.service_img {
  width: 15%;
  margin: 64px auto 0 auto;
}

.service_img > img {
  width: 100%;
}

.service_title {
  display: flex;
  align-items: flex-end;
}

.coding_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.from_author {
  max-width: 1000px;
  margin: 248px auto 0 auto;
  font-size: 0.875rem;
  line-height: 1.86;
}

/**PC版サービス　文字や余白調整*/
.service_title p:first-child {
  font-size: 1.125rem;
}

.service_title p:last-child {
  font-size: 0.75rem;
  padding-left: 4px;
}

.service_discription {
  font-size: 0.875rem;
  line-height: 1.86;
  margin-top: 48px;
}

.servic_skill {
  font-size: 0.75rem;
  color: var(--accent_color01);
  margin-top: 48px;
}

/*PC 制作の流れ */
.sp_step_title {
  display: none;
}

.sp_product_flow_title,
.sp_product_flow_subtitle {
  display: none;
}
.production_flow_flex {
  display: flex;
  justify-content: space-between;
  max-width: 830px;
  margin: 224px auto 0 auto;
}

.step_wrapper {
  width: 27.7%;
}

.step_img {
  width: 33%;
  margin: 64px auto 0 auto;
}

.step_price_img {
  width: 24%;
  margin: 64px auto 0 auto;
}

.step_img > img {
  width: 100%;
}

/**PC 制作の流れ　文字調整・余白*/
.step_title p:first-child {
  font-size: 0.875rem;
}

.step_title p:last-child {
  font-size: 1.125rem;
  margin-top: 10px;
}

.step_discription01,
.step_discription02,
.step_discription03 {
  font-size: 0.875rem;
  line-height: 1.86;
}

.step_discription01 {
  margin-top: 58px;
}
.step_discription02 {
  margin-top: 48px;
}
.step_discription03 {
  margin-top: 35px;
}

.business_hours,
.worksday,
.holiday {
  font-size: 0.75rem;
  color: var(--accent_color01);
}

.business_hours {
  margin-top: 22px;
}

.worksday,
.holiday {
  margin-top: 8px;
}

/*あしらい１０*/
.roop_wrapper10 {
  max-width: 1440px;
  margin-left: auto;
  position: absolute;
  bottom: 100px;
  right: 0;
  width: 100%;
}

.roop_design10 {
  width: 100%;
}

.about_copyright {
  text-align: center;
  font-size: 0.625rem;
  padding-top: 300px;
}
/*FVコンセプトやスクロールバーの位置がおかしくなるタイミングで切り替え*/
@media screen and (max-width: 1150px) {
  /* コンセプト・スクロールバー*/
  .main_visual {
    width: 455px;
  }

  .pf_concept {
    width: 220px;
  }

  h1 {
    top: 200px;
    left: -43%;
  }

  .scroll_down p {
    left: 62px;
  }
  .scroll_down:after {
    left: 70px;
  }

  .scroll_down:before {
    left: 64.5px;
  }

  .roop_wrapper01 {
    bottom: -320px;
    width: 80%;
  }

  /*ナビゲーション*/
  .pc_nav,
  .sp_nav,
  .works_all_sp_nav,
  .works_banner_sp_nav {
    display: none;
  }

  .sp_btn {
    display: block; /*表示させてあげますよ*/
    height: 23px;
    cursor: pointer;
    /* 位置の調整 */
    position: absolute;
    top: 32px;
    right: 32px;
    z-index: 100; /*positionが設定されていないと効果なし*/
  }
  /*作品全ページ・バナー　メニュー*/
  .works_all_sp_btn {
    display: block; /*表示させてあげますよ*/
    height: 23px;
    cursor: pointer;
    /* 位置の調整 */
    position: absolute;
    top: 32px;
    right: 32px;
    z-index: 100; /*positionが設定されていないと効果なし*/
  }
  .works_banner_sp_btn {
    display: block; /*表示させてあげますよ*/
    height: 23px;
    cursor: pointer;
    /* 位置の調整 */
    position: absolute;
    top: 32px;
    right: 32px;
    z-index: 100;
  }

  .sp_btn span:nth-of-type(1),
  .works_all_sp_btn span:nth-of-type(1),
  .works_banner_sp_btn span:nth-of-type(1) {
    display: block; /*spanタグはinline要素なため、幅高さを設定できないためblock要素にしてあげる*/
    width: 188px;
    height: 1.5px;
    background: #3e3e3e;
    border-radius: 5px;
    /* 位置の調整 */
    position: relative;
    transition: 0.3s;
  }

  .sp_btn span:nth-of-type(2),
  .works_all_sp_btn span:nth-of-type(2),
  .works_banner_sp_btn span:nth-of-type(2) {
    content: "";
    display: block;
    width: 188px;
    height: 1.5px;
    background: #3e3e3e;
    border-radius: 5px;
    position: absolute;
    top: 18px;
    transition: 0.3s;
  }

  /*メニュー動かす*/
  .sp_btn.open span:nth-of-type(1),
  .works_all_sp_btn.open span:nth-of-type(1),
  .works_banner_sp_btn.open span:nth-of-type(1) {
    transform: rotate(5deg);
    transform-origin: center;
  }

  .sp_btn.open span:nth-of-type(2),
  .works_all_sp_btn.open span:nth-of-type(2),
  .works_banner_sp_btn.open span:nth-of-type(2) {
    top: 0;
    transform: rotate(-5deg);
    transform-origin: center;
  }

  /*メニューの中身*/
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(203, 211, 221, 0.6);
  }

  .works_all_sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(203, 211, 221);
    z-index: 10;
  }

  .works_banner_sp_nav {
    position: absolute;
    top: 0; /*どのように調整する？*/
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(203, 211, 221);
    z-index: 10;
  }

  .sp_nav ul,
  .works_all_sp_nav ul,
  .works_banner_sp_nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    gap: 56px;
    height: 100%;
    z-index: 1000;
  }

  .sp_nav ul li,
  .works_all_sp_nav ul li,
  .works_banner_sp_nav ul li {
    font-size: 1.44rem;
  }

  .sp_nav ul li:last-child,
  .works_all_sp_nav ul li:last-child,
  .works_banner_sp_nav ul li:last-child {
    width: 195px;
  }

  .works_all_SPtitle {
    padding: 8px 0 0 16px;
  }

  /*画面を固定・コンセプトやスクロールバーを非表示*/
  body.menu_fix {
    overflow: hidden;
  }

  .pf_title.invisible,
  .pf_concept.invisible,
  .mail_icon.invisible,
  .scroll_down.invisible {
    display: none;
  }

  /*メールアイコン*/
  .mail_icon {
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 5px 0 0 5px;
    background-color: var(--accent_color02);
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .mail_icon > img {
    width: 40px;
  }

  /* トップWORKS SP*/
  /*配置*/

  .works_section {
    margin: 96px auto 0 auto;
  }

  .works_header {
    margin-right: 7.5%;
  }

  .works_section article div {
    flex-direction: column;
    width: 83.3%;
    margin: 0 auto;
  }

  .works_section article div div {
    width: 100%;
    margin: 0 auto;
  }

  article:first-of-type {
    margin-top: 48px;
  }

  article:not(:first-of-type) {
    margin-top: 72px;
  }

  /*文字と画像順番*/

  /*ヘアサロン順番*/
  .works_content {
    display: contents;
  }

  .works_category02 {
    order: -1;
  }

  .works_title02 {
    order: -1;
  }

  /*ポートフォリオ・カフェ順番*/
  .works_content01,
  .works_content02 {
    display: contents;
  }

  .works_category {
    order: -1;
  }

  .works_title {
    order: -1;
  }

  .works_item {
    order: 0;
  }

  .works_discription {
    order: 1;
  }

  .works_sub_category,
  .works_sub_category03 {
    order: 2;
  }
  .works_btn {
    order: 3;
  }

  /*WORKS SPの共通コンテンツ*/
  .works_item {
    width: 100%;
  }

  article:first-of-type .works_item {
    margin-top: 24px;
  }

  .works_category,
  .works_category02 {
    align-self: flex-start;
    margin-top: 48px;
  }
  .works_title,
  .works_title02 {
    font-size: 0.875rem;
    font-weight: bold;
    margin-top: 8px;
    align-self: flex-start;
  }

  .works_discription,
  .works_discription02 {
    font-size: 0.8125rem;
    line-height: 1.54;
    margin-top: 24px;
  }

  /*SPカテゴリーの青い点線*/
  .works_sub_category::after {
    content: "";
    display: block;
    width: 149px;
    border-bottom: 1px dotted var(--accent_color01);
    padding-top: 4px;
  }

  .works_sub_category02::after,
  .works_sub_category03::after {
    content: "";
    display: block;
    width: 108px;
    border-bottom: 1px dotted var(--accent_color01);
    padding-top: 4px;
  }
  /*SP版WORKS_ボタン*/
  .works_btn,
  .works_btn02 {
    width: 152px;
    font-size: 0.875rem;
    padding: 16px 10px;
    margin-left: auto;
  }

  .view_all_wrapper {
    max-width: 300px;
    margin-top: 108px;
  }

  /*works_all SP版*/
  .works_all_wrapper {
    max-width: 90%;
  }

  /*ポートフォリオタイトル配置SP版切り替えのための*/
  .sp_flex_01 {
    display: flex;
    width: 100%;
  }

  .pc_portfolio {
    display: none;
  }

  .works_all_SPtitle {
    writing-mode: vertical-rl;
  }
  /*WORKS_ALL sp配置*/
  .flex_01,
  .flex_02 {
    max-width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }

  .flex_01_innner,
  .flex_02_innner {
    max-width: 100%;
  }

  .flex_02 {
    flex-wrap: nowrap;
  }

  .flex_02_inner:nth-of-type(3),
  .flex_02_inner:nth-of-type(4) {
    margin-top: 0;
  }

  .title_flex {
    flex-direction: column;
  }

  /*WORKS_ALL sp文字調整など*/
  .title_flex p:nth-child(2) {
    font-size: 1rem;
    margin-top: 8px;
  }
  .works_all_discription {
    display: block;
    width: 100%;
    line-height: 1.86;
  }

  .works_all_title {
    margin-top: 108px;
  }

  .works_all_title::after {
    content: "";
  }

  .works_all_category {
    text-align: left;
  }

  /*WORKS_ALL spスクロールバー削除*/
  .no_scroll {
    display: none;
  }
  /*WORKS_ALL あしらいsp*/
  .roop_wrapper04 {
    width: 100%;
  }

  /*WORKSBANNER SP*/
  .banner_wrapper,
  .works_banner_bar {
    max-width: 72%;
  }

  .banner_wrapper > section > p:first-child {
    font-size: 0.75rem;
  }

  .banner_wrapper h3 {
    margin-top: 6px;
  }

  .banner_img {
    margin-top: 8px;
  }

  .banner_sub_category {
    margin-top: 8px;
    font-size: 0.75rem;
  }

  .banner_discription {
    margin-top: 40px;
    font-size: 0.875rem;
  }

  .banner_flex {
    gap: 28px;
    margin-top: 56px;
  }

  .banner_inner > p {
    font-size: 0.875rem;
  }

  .tool {
    font-size: 0.65rem;
  }

  .tool::after {
    width: 178px;
  }

  .works_banner_bar,
  .site_banner_bar {
    margin-top: 142px;
  }

  .works_banner_bar > p,
  .site_banner_bar > p {
    font-size: 0.8125rem;
  }

  .works_banner_bar div::after,
  .site_banner_bar div::after {
    height: 168px;
  }

  .works_banner_bar div::before,
  .site_banner_bar div::before {
    width: 10px;
    height: 10px;
  }

  @keyframes circlemove_banner {
    0% {
      transform: translate(-50%, -50%) translateY(-78px);
    }
    100% {
      transform: translate(-50%, -50%) translateY(78px);
    }
  }

  .roop_wrapper06 {
    bottom: 550px;
  }

  /*WORKS SITE 1150px*/
  .site_wrapper01 {
    padding: 0 20px;
  }

  .site_wrapper02 {
    max-width: 830px;
  }

  .site_page_flex {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .site_pageSP_img {
    width: 45%;
  }

  .site_pageSP_img01 {
    margin-top: 48px;
  }

  .site_launch_btn {
    margin: 88px auto 0 auto;
    max-width: 211px;
  }

  .site_launch_btn p {
    font-size: 0.8125rem;
  }

  .site_page_img00 {
    margin-top: 88px;
  }

  /*WORKS SITE 1150文字・余白の調整*/
  .site_wrapper01 > p:first-child {
    font-size: 0.65rem;
  }

  .site_wrapper01 h3 {
    margin-top: 6px;
  }

  .site_img {
    margin-top: 8px;
  }

  .site_sub_category {
    margin-top: 8px;
    font-size: 0.75rem;
  }

  .site_discription {
    margin-top: 40px;
    font-size: 0.875rem;
    line-height: 1.86;
  }

  .site_discription,
  .site_inner p {
    font-size: 0.875rem;
    line-height: 1.86;
  }

  .site_flex {
    gap: 28px;
    margin-top: 56px;
  }
  /*WORKS SITE 1150 あしらい０７*/
  .roop_wrapper07 {
    bottom: 250px;
  }

  /*ABOUT ME 1150 */
  .about_me_main {
    padding-top: 111px;
  }

  .about_me_wrapper,
  .service_flex,
  .from_author,
  .production_flow_flex {
    padding: 0 20px;
  }
}
/*957px版*/
@media screen and (max-width: 957px) {
  .main_visual {
    width: 400px;
  }

  .pf_concept {
    width: 190px;
  }

  h1 {
    top: 150px;
    left: -42%;
  }

  .scroll_down p {
    left: 55px;
    font-size: 0.875rem;
  }
  .scroll_down:after {
    left: 62px;
    height: 180px;
  }

  .scroll_down:before {
    left: 57.5px;
    width: 10px;
    height: 10px;
  }

  @keyframes circlemove {
    0% {
      top: 730px;
    }
    100% {
      top: 890px;
    }
  }
}

/*830pxスマフォ版*/
@media screen and (max-width: 830px) {
  .main_visual {
    width: 370 px;
  }

  .pf_concept {
    width: 160px;
  }

  .pf_title > div p {
    font-size: 1rem;
  }

  h1 {
    left: -35%;
  }

  h1 div:last-child {
    margin-top: 16px;
  }

  .roop_wrapper01 {
    transform: scaleX(-1);
  }

  /*メールアイコン*/
  .mail_icon {
    width: 56px;
    height: 56px;
  }

  .mail_icon > img {
    width: 28px;
  }

  .scroll_down {
    display: none;
  }

  /*SP版ABOUT*/
  /*flex解除 floatがきかない・・・*/

  .about_header {
    max-width: 83.3%;
    padding-top: 64px;
  }

  .about_section {
    margin-top: 126px;
  }

  .about_wrapper {
    display: block;
    max-width: 83.3%;
    margin-top: 16px;
    padding-bottom: 120px;
  }

  .profile_wrapper,
  .about_profile_wrapper {
    width: 100%;
  }

  .about_img {
    width: 186px;
    max-width: 186px;
    float: right;
    margin: 0 0 16px 16px;
  }

  .name_wrapper {
    flex-direction: column;
  }

  .name_wrapper p:first-child {
    display: block;
    margin-right: auto;
    margin-top: 16px;
    font-size: 0.875rem; /* 1つ目のp */
  }

  .name_wrapper p:last-child {
    display: block;
    margin-right: auto;
    font-size: 0.625rem; /* 2つ目のp */
    padding-top: 4px;
    padding-left: 0;
  }

  .about_discription {
    font-size: 0.812rem;
    line-height: 1.54;
    padding-top: 32px;
  }

  .about_discription > br {
    display: none;
  }

  .about_btn {
    width: 280px;
    margin: 56px auto 0 auto;
  }

  /*SP版ページ中間のバー*/
  .bar {
    height: 360px;
  }

  .bar div:after {
    height: 168px;
  }

  .bar div:before {
    width: 10px;
    height: 10px;
  }

  /*SP版コンタクト*/
  .contact_section {
    padding: 0 40px;
  }
  .contact_wrapper {
    flex-direction: column;
    margin-top: 52px;
  }

  .contact_wrapper > div,
  .contact_wrapper > form {
    width: 100%;
  }

  /*文字位置調整*/
  .c-form_item:first-child {
    margin-top: 28px;
  }
  .contact_wrapper > div > p {
    font-size: 0.75rem;
  }

  .c-form_label {
    font-size: 0.875rem;
  }

  .c-form_item:not(:first-child) .c-form_label {
    margin-top: 33px;
  }

  .c-form_input {
    margin-top: 4px;
  }
  .c-form_submit {
    margin: 56px auto 0 auto;
    max-width: 306px;
  }

  /* SP版フッター */
  footer {
    margin: 268px 0 48px 0;
  }

  /*ABOUT ME 830*/
  /*自己紹介830*/

  .about_me_wrapper {
    display: block;
    margin-top: 32px;
    padding-bottom: 120px;
  }

  .about_header {
    padding-top: 64px;
  }

  .about_name_wrapper p:first-child {
    margin-top: 22px;
    font-size: 1rem; /* 1つ目のp */
  }

  .about_name_wrapper p:last-child {
    font-size: 0.65rem; /* 2つ目のp */
    padding-left: 8px;
  }

  .about_me_discription01,
  .about_me_discription02,
  .about_me_discription03,
  .about_me_discription04 {
    padding-top: 34px;
  }

  /*サービス 830*/
  .service_header {
    padding-top: 0;
  }

  .service_flex {
    flex-direction: column;
    margin-top: 40px;
  }

  .service_wrapper {
    width: 100%;
  }

  .service_title {
    flex-direction: column;
    align-items: center;
  }

  .service_title p:first-child {
    font-size: 1.375rem;
  }

  .service_title p:last-child {
    padding: 4px 0 0 0;
  }

  .service_img {
    width: 12%;
    margin-top: 40px;
  }

  .service_discription {
    margin-top: 24px;
  }

  .servic_skill {
    margin-top: 16px;
  }

  .coding_flex {
    margin-top: 56px;
  }

  .from_author {
    margin-top: 115px;
  }

  /*830 制作の流れ*/
  .sp_product_flow_title,
  .sp_product_flow_subtitle {
    display: block;
    text-align: center;
  }

  .sp_product_flow_title {
    font-size: 1.125rem;
    margin-top: 168px;
  }
  .sp_product_flow_subtitle {
    font-size: 0.65rem;
  }

  .production_flow_flex {
    margin-top: 56px;
    flex-direction: column;
  }

  .pc_step_title {
    display: none;
  }

  .step_wrapper {
    width: 68%;
    margin: 0 auto;
  }

  .step_title p {
    text-align: center;
  }

  .step_title p:last-child {
    margin-top: 48px;
  }

  .sp_step_title {
    display: block;
    font-size: 1.125rem;
  }

  .step_img {
    width: 30%;
    margin-top: 28px;
  }

  .step_price_img {
    width: 21%;
    margin-top: 28px;
  }
  .step_discription01 {
    margin-top: 40px;
  }

  .step_discription01,
  .holiday {
    padding-bottom: 88px;
  }

  /*830 制作の流れ 点線 koko*/
  .sp_line_flex {
    /* display: flex;
    flex-direction: column; */
    position: relative;
  }
  .sp_line {
    border-bottom: 1px dotted var(--accent_color01);
    width: 410px;
    rotate: 90deg;
    position: absolute;
    top: 232px;
    left: -195px;
  }

  /*830px あしらい*/
  /*WORKS_ALL*/
  .roop_design04 {
    display: none;
  }
  .roop_wrapper05 {
    top: -280px;
  }

  .roop_wrapper06 {
    bottom: 400px;
  }

  .roop_wrapper07 {
    bottom: 130px;
  }
}

/*FV調整　580*/
@media screen and (max-width: 750px) {
  /*画像*/
  .main_visual {
    width: 100%;
  }

  .hero_img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  h1 {
    top: 150px;
    left: 10%;
  }
}

/*
〜新しい質問〜
・.sp_line　画面縮小時、線がはみでてしまう。位置調整方法も現場がベストか？
・about sp画面　serviceというタイトル　デザインのように上の背景にかぶせたい。service_section毎、positionを使って上にずらしてあげるのがよいか？

〜未対応メモ（自分で挑戦）〜
・残りのあしらい（レスポンシブの０２・０３は完全未対応。０１は、一番小さい画面時が残っている。WORKS SITEの上部のあしらい）
・FVレスポンシブ　切り替える幅をもっと小さく。コンセプト画像大きさ調整
・各種リンク先動線確認・・・メールアイコンはつながっていない。
・ウェブサイトの作品紹介ページ　SPメニュー実装未
〜授業時に確認〜


・



〜回答済み〜
.(回答いただき済み：授業）コンセプトの配置に苦戦。
　1)vhで計算したものの、1340px幅（本当は1440pxでデザインしなくてはいけなかったのに間違えていました・・・）にしたときの見え方が、aiデータより下に見える。なぜか？
　２）画面幅を拡大・縮小したときに位置が大きくずれる

★(回答いただき済み)
・ファビコンずれてる？デザインの問題か？
・画像が荒い。書き出しの問題というよりは、もともとのデータのせいか？
・pf_conceptクラスは、1340pxのとき262pxにしたいが、デベロッパーツールでみるとなぜか300pxになっている。
・works 「view more」ボタンと画像の下のラインはそろえることができたが、「＃Website」なども画像の頭と揃えたい。
・aboutの背景画像。次のセクションとの境目がくっきりわかれてしまっている。本当はデザインデータのように境目をなくしたい。
・about_headerを常にデザインとおりの位置に配置したい。今は％で記述してしまっていることが原因かと思うが、うまく変更できなかった。
・.roop_design01の配置に苦戦。1340px以下になると、どんどん.hero_imgに近づいてやがて画面から消えてしまう。
本当はどの画面幅でも、比率を保って、.hero_imgとの距離を一定に保ちたい。
positonの使い方がイマイチ理解できていない・・・.
top-480pxというのは、headerを親としているのか、.main_visualを親としているのか・・・
.main_visualを親にすれば、画像同士の距離を一定にできると思ったものの、実現できなかった。
・SP版WORKS部分、文字で画像を挟むデザイン。ポートフォリオの部分は並び替えができたが、
ヘアサロンやDESIGNCAFEには効かない。
・About部分、文字が画像に沿うようなデザインをしたいが、うまくできない・・・
floatで試してみましたが、文章と画像が２段に分かれてしまう。
・ギットハブ　スマホ確認できるURLについて
・works_all.htmlについて
　作品の配置がうまくいかない。
　①gridでなくflexの使用がよいか？（gridでトライしたものの、１枚目の画像が元々他の画像の高さ２倍だったからか上手く配置できなかった。
　②flexで画像は３枚配置できたものの、htmlの80行目・89行目を記述すると文字とセットの画像は縦並びにしたいのに横並びになってしまう。

.コンタクトフォーム正しく実装されているか確認するためには、自分で入力・送信をしてみて、グーグルフォームに回答があるかをみればいいか
・前回の添削の中での疑問。roop_design01の位置調整について
なぜもともとroop_design01についていたpositionを.roop_wrapperに移動したのか？
一般的に、imgをdivで囲っていて、その要素をたちを位置調整したい場合には、divにつけてあげるのが主流なのか？
・TOP画面以外のページも同じCSSファイルに記述していくの？
・Github URLの作り方。saveが押せない。
・サンクスページのURLってなに？？？
・WORKSALL SP版　ポートフォリオ　配置調整 いまのHTMLで配置できるのか？
・FVのSP版830以下のとき、写真が全画面に切り替わるのだけれど、画像・・・なんか大きい　もうすこし全体までうつしたい。７００PXくらいがちょうどいい。
→きりかえる幅をもっと後からにするか、画像いれかえるときに横幅を増やすか。いまの画像だと、幅が足りない。

・作品全ページのあしらいがうまくいかない。flex_01を基準にしようと思った。だけど、親要素1000pに指定している中に記述したため、親の幅を超えられない。
親を超える方法として「100vw と　」を記述する方法があるということで試す。しかし、100vwであるため横スクロールが発生する・・・。ため１００％になおしたけど、
そうすると画像がイメージより小さくなってしまう・・・→サイト自体を親とする
→flex_01に基準を設けようとするのは一般的か？→ページの上部・下部に近いので、そちらに合わせた方が簡単
→width150%とかにして調整することはあるのか？→あるけど、画像がページを飛でちゃう。bodyなどにoverflow hiddenを設定して・・・などあるがやらない方がベター
→position:relativeって親要素以外につけても機能するのか？→親要素でないとだめ！
いまあしらい４はworksall_sectionに入れているけど、外に出して、works_all_sectionにrelative設定しても意味あるのか？→ない
→あしらい２　−３０００pxに設定しているけど・・・一般的にはもっと近いものを基準とする・・・？→works_sectionにあしらい②をいれて、そこを基準にする。遠く離れば離れるほど画面縮小などしたときに乖離する

・WORKS「ポートフォリオ」などはpではなくh３がよかった？→個別のページはh3に変える
WORKSBANNERのバーガーメニュー。背景、ずれる。→marginは親要素を飛びでる性質あり。うまくいかなかったらpaddingを検討してみる。
・ポートフォリオの動画再生されない・・・→videoタグだけでは動かない、autoplayなど設定が必要

〜自分用メモ〜
・ヘッダーの視認性UPどうするか
・画像を入れ替え

・サンクスページ未対応
・コピーライトこれでいいのか？
・ABOUTSP版文字右端ガタガタなの気になるな・・・ポートフォリオの縦文字ガタガタも気になる
・WORKS全紹介ページ　カテゴリ下線をつける
・トップのあしらい、親変える
・.works_all_sp_nav メニュー開いた時どういうデザインにするか考える・・・

★個別ページ２枚
★アバウトを金曜日におおよそ完成させる
★各ページあしらい（PC・SP)
★ローディング画面
★サンクスページ

  */
