@charset "utf-8";

/* ヘッダー */

header {
  position: relative;
}

.main_visual {
  width: 555px;
  margin: 0 auto;
  position: relative;
}

.hero_img {
  /* display: block; */
  width: 100%;
  position: relative;
}

.pc_nav {
  position: fixed;
  top: 48px;
  z-index: 1000;
  right: 48px;
}

.pc_nav a {
  font-size: 1.5rem;
}

.header_nav_btn {
  width: 190px;
  padding-right: 7px;
}

/*SPnav非表示*/
.sp_nav,
.works_all_sp_nav {
  display: none;
}

.header_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.header_list_item:hover,
.sp_header_list_item:hover,
.works_all_sp_header_list_item:hover {
  opacity: 0.5;
  transition: 0.5s;
}

.pf_title {
  display: flex;
  align-items: flex-end;
}

.pf_title > div p {
  font-size: 1.125rem;
  letter-spacing: 0.065em;
}

.pf_title > div > p:last-child {
  margin-top: 11px;
}

.pf_title span {
  padding-left: 4px;
}

h1 {
  position: absolute;
  top: 250px;
  left: -42%;
  z-index: 10;
}

h1 div:last-child {
  margin-top: 32px;
}

.pf_concept {
  width: 262px;
}

/*メールアイコン非表示*/
.mail_icon {
  display: none;
}

/* スクロールバー */
.scroll_down p {
  position: absolute;
  top: 632px;
  left: 72px;
  font-size: 1rem;
  writing-mode: vertical-lr;
  text-decoration: none;
  text-transform: uppercase;

  /* グラデーション */
  background: linear-gradient(#181e4d, #4e7fa1, #8aecff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scroll_down:after {
  content: "";
  position: absolute;
  top: 725px;
  left: 80px;
  width: 1px;
  height: 272px;
  background: var(--accent_color_gd);
  z-index: 1;
}

.scroll_down:before {
  content: "";
  position: absolute;
  top: 750px;
  left: 74.5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--accent_color_gd);
  animation: circlemove 1.8s ease-in-out infinite,
    cirlemovehide 1.8s ease-out infinite;
  z-index: 10;
}

@keyframes circlemove {
  0% {
    top: 750px;
  }
  100% {
    top: 990px;
  }
}

@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

/*あしらい０１*/
.roop_wrapper01 {
  max-width: 1440px;
  margin-left: auto;
  position: absolute;
  bottom: -560px;
  right: 0;
  width: 100%;
}

.roop_design01 {
  width: 100%;
}

/* WORKS parallaxまで手をつけれたらいいな*/
.works_section {
  max-width: 1000px;
  margin: 550px auto 0 auto;
  padding: 0 20px;
}

.works_header {
  font-weight: bold;
  text-align: right;
  font-size: 1.5rem;
}

.works_header span {
  /* グラデーション 動きをつける*/
  background: linear-gradient(90deg, #181e4d, 80%, #8aecff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article:not(:first-child) {
  margin-top: 146px;
}

/*文章と画像を横並びにする*/
article > div {
  display: flex;
  justify-content: space-between;
  margin-top: 110px;
}

/*画像を510pxまでにする*/
article > div:nth-child(2) {
  max-width: 510px;
}

/*ポートフォリオ紹介*/
article > div > div:first-child {
  width: 48.5%;
}

article > div > div:last-child {
  width: 51.8%;
}

/*ポートフォリオ以外紹介*/
article:not(:first-of-type) > div > div {
  width: 48.4%;
  /* (1000px-32px)/2=484px*/
  /* 484/1000=0.484 */
}

/*WORKSの共通コンテンツ*/
.works_content,
.works_content01,
.works_content02 {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.works_content01 {
  padding-top: 0;
}
.order_item_01 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.works_category,
.works_category02,
.works_sub_category,
.works_sub_category02,
.works_sub_category03 {
  font-size: 0.75rem;
  color: var(--base_color_light);
}

.works_sub_category,
.works_sub_category02,
.works_sub_category03 {
  margin-top: 20px;
}

.works_title,
.works_title02 {
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 24px;
}

.works_discription,
.works_discription02 {
  font-size: 0.875rem;
  line-height: 1.86;
  margin-top: 40px;
}

/*カテゴリーの青い点線*/
.works_sub_category::after {
  content: "";
  display: block;
  width: 149px;
  border-bottom: 1px dotted var(--accent_color01);
  padding-top: 4px;
}

.works_sub_category03::after,
.works_sub_category02::after {
  content: "";
  display: block;
  width: 108px;
  border-bottom: 1px dotted var(--accent_color01);
  padding-top: 4px;
}
/*WORKS_ボタン*/
.works_btn,
.works_btn02 {
  display: inline-block;
  width: 226px;
  font-size: 0.875rem;
  border: 1px dotted #3e3e3e;
  border-radius: 5px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.works_btn::after,
.works_btn02::after {
  content: "";
  display: inline-block;
  width: 16px;
  border-bottom: 1px solid var(--base_color_light);
  margin-left: 16px;
}

/*WORKS_ViewAllボタン のちほどボタン背景だけ画像で準備する*/

.view_all_wrapper {
  max-width: 312px;
  margin: 150px auto 0 auto;
  position: relative;
}

.view_all_wrapper img {
  width: 100%;
}

.view_all_wrapper p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;
}

.view_all_wrapper p::after {
  content: "";
  display: inline-block;
  width: 32px;
  border-bottom: 1px solid #fff;
  border-radius: 5px;
  margin-left: 16px;
}
/*あしらい０2*/
.roop_wrapper02 {
  max-width: 1440px;
  /* position: relative; */
  width: 100%;
  position: absolute;
  bottom: -3200px;
  left: 0;
  z-index: -1;
}

/* .roop_design02 {
  width: 100%;
  position: absolute;
  bottom: -3200px;
  left: 0;
  z-index: 10;
} */

/*ABOUT*/
.about_header {
  max-width: 1000px;
  margin: 0 auto;
  padding: 88px 20px 0 20px;
  text-align: left;
  color: #fff;
  font-size: 1.5rem;
}

.about_section {
  background-image: url(../images/1x/about_back.png);
  background-size: 100% 100%;
  background-position: center;
  margin-top: 420px;
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  z-index: -2;
}

.about_wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  max-width: 830px;
  margin: 118px auto 0 auto;
  padding: 0 20px 168px 20px;
}

.profile_wrapper {
  width: 45%;
}

.about_img_wrapper {
  width: 312px;
  max-width: 312px;
}

.name_wrapper {
  display: flex;
  align-items: flex-end;
}

.name_wrapper p {
  color: #fff; /* 共通の文字色 */
}

.name_wrapper p:first-child {
  font-size: 1.125rem; /* 1つ目のp */
}

.name_wrapper p:last-child {
  font-size: 0.875rem; /* 2つ目のp */
  padding-left: 8px;
}

.about_discription {
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.86;
  padding-top: 28px;
}

.about_img {
  width: 100%;
}

.about_btn {
  display: inline-block;
  width: 226px;
  font-size: 0.875rem;
  background-color: #fff;
  border: 1px dotted #3e3e3e;
  border-radius: 5px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.about_btn::after {
  content: "";
  display: block;
  width: 16px;
  border-bottom: 1px solid var(--base_color_light);
  margin-left: 16px;
}

/*ページ中間のバー*/
.bar {
  height: 720px;
  position: relative;
}

.bar div:after {
  content: "";
  position: absolute;
  top: 50%; /* 親要素の縦の真ん中 */
  left: 50%; /* 親要素の横の真ん中 */
  transform: translate(-50%, -50%); /* 要素自身の大きさ分ずらして中央揃え */
  width: 1px;
  height: 196px;
  background: var(--accent_color_gd);
  z-index: 1;
}

.bar div:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--accent_color_gd);
  animation: circlemove_aaa 1.8s ease-in-out infinite,
    cirlemovehide 1.8s ease-out infinite;
  z-index: 10;
}

@keyframes circlemove_aaa {
  0% {
    transform: translate(-50%, -50%) translateY(-72px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(88px);
  }
}

/*コンタクト*/
/*h2*/
.contact_section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.contact_header {
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
}

.contact_header > span {
  /* グラデーション 動きをつける*/
  background: linear-gradient(90deg, #181e4d, 80%, #8aecff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.contact_wrapper > div {
  width: 31.4%;
}

.contact_wrapper > form {
  width: 48.3%;
}

.c-form_item {
  display: flex;
  flex-direction: column;
}

.c-form_label {
  font-size: 1rem;
}

.c-form_item:not(:first-child) .c-form_label {
  margin-top: 38px;
}

/*アスタリスク*/
.c-form_item:nth-child(2) .c-form_label::after,
.c-form_item:nth-child(3) .c-form_label::after,
.c-form_item:nth-child(4) .c-form_label::after {
  content: "*";
  vertical-align: top;
  color: #ed1c24;
  font-size: 0.875rem;
}

.c-form_item:nth-child(2) .c-form_label::after,
.c-form_item:nth-child(4) .c-form_label::after {
  padding-left: 3px;
}

.c-form_item:nth-child(3) .c-form_label::after {
  padding-left: 1px;
}

/*入力欄*/
.c-form_input {
  width: 100%;
  margin-top: 14px;
  padding: 11.5px 4px;
  border: 1px solid var(--accent_color02);
  border-radius: 5px;
  box-sizing: border-box;
}

.c-form_input:focus {
  border: 1px solid var(--accent_color01);
  outline: 0;
}

.contact_wrapper p {
  font-size: 0.875rem;
  line-height: 1.86;
}

textarea.c-form_input {
  line-height: 1.5em;
  padding: 8px 4px 96px 4px;
  font-family: none;
}

/*送信ボタン*/
.c-form_submit {
  max-width: 276px;
  margin-top: 56px;
  margin-left: auto;
  position: relative;
}
.c-form_submit img {
  width: 100%;
}
.c-form_submit button {
  width: 100%;
  font-size: 1rem;
}

/*文字表示や位置の調節*/
.c-form_submit p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.c-form_submit p::after {
  content: "";
  display: inline-block;
  width: 32px;
  border-bottom: 1px solid #fff;
  border-radius: 5px;
  margin-left: 20px;
}

/* フッター */
footer {
  margin: 672px 0 72px 0;
  position: relative;
}

footer p {
  font-size: 0.625rem;
  text-align: center;
}

/*あしらい０3*/
.roop_wrapper03 {
  max-width: 1440px;
  width: 90%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

/*別ページ：WORKS_ALL*/
.works_all_wrapper {
  max-width: 1000px;
  margin: 308px auto 0 auto;
}

.works_all_header {
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
}

.works_all_header > span {
  /* グラデーション 動きをつける*/
  background: linear-gradient(90deg, #181e4d, 80%, #8aecff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.works_all_section {
  max-width: 914px;
  margin-left: auto;
  margin-top: 96px;
}
.works_all_discription {
  font-size: 1rem;
  line-height: 1.62;
}

/*別ページ：WORKS_ALL 一覧コンテンツ部分 flex */
.flex_01 {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  position: relative; /*あしらい０４用*/
}

.flex_02 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 72px 0 700px 0;
  position: relative; /*あしらい０４用*/
}

.flex_01_innner,
.flex_02_innner {
  max-width: 43.8%;
}

.flex_01_innner:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.flex_02_inner:nth-of-type(3),
.flex_02_inner:nth-of-type(4) {
  margin-top: 72px;
}

.flex_item {
  padding: 4px;
  border: 1px solid var(--accent_color01);
  background-color: #fff;
  border-radius: 5px;
  margin-top: 8px;
}

.flex_item_img {
  width: 100%;
  filter: grayscale(100%);
}

.flex_item_img:hover {
  filter: grayscale(0);
  transition: 0.5s;
}

.title_flex {
  display: flex;
}

/*別ページ：WORKS_ALL 一覧コンテンツ部分 装飾 */
.title_flex p {
  font-size: 0.875rem;
}

.works_all_title::after {
  content: ":";
  padding: 0 4px;
}

.works_all_title:nth-of-type(3) {
  margin-top: 45px;
}
.works_all_category {
  text-align: right;
  color: var(--accent_color01);
  font-size: 0.75rem;
  margin-top: 8px;
}

/*あしらい０4*/
.roop_wrapper04 {
  max-width: 1440px;
  margin-left: auto;
  position: absolute;
  top: -600px;
  right: 0;
  width: 100%;
  margin: 0 calc(50% - 50vw);
  z-index: -1;
}

.roop_wrapper05 {
  max-width: 1440px;
  margin-left: auto;
  position: absolute;
  bottom: -500px;
  left: 0;
  width: 100%;
  margin: 0 calc(50% - 50vw);
  z-index: -1;
}

.roop_design04,
.roop_design05 {
  width: 100%;
}

/*別ページ　WORKSバナー０１*/
.works_banner01 {
  margin-top: 280px;
}

.banner_wrapper {
  max-width: 650px;
  margin: 0 auto;
}

.banner_wrapper > section {
  margin-top: 280px;
}

/*画像中央寄せ*/
.banner_img {
  width: 100%;
  border: 1px solid #cccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 28px;
}

.banner_img > img {
  padding: 4px;
}

/*WORKSBANNER 余白*/
.banner_wrapper > section p:nth-child(2) {
  margin-top: 16px;
}

/*FVコンセプトやスクロールバーの位置がおかしくなるタイミングで切り替え*/
@media screen and (max-width: 1150px) {
  /* コンセプト・スクロールバー*/
  .main_visual {
    width: 455px;
  }

  .pf_concept {
    width: 220px;
  }

  h1 {
    top: 200px;
    left: -43%;
  }

  .scroll_down p {
    left: 62px;
  }
  .scroll_down:after {
    left: 70px;
  }

  .scroll_down:before {
    left: 64.5px;
  }

  .roop_wrapper01 {
    bottom: -320px;
    width: 80%;
  }

  /*ナビゲーション*/
  .pc_nav,
  .sp_nav,
  .works_all_sp_nav {
    display: none;
  }

  .sp_btn {
    display: block; /*表示させてあげますよ*/
    height: 23px;
    cursor: pointer;
    /* 位置の調整 */
    position: absolute;
    top: 32px;
    right: 32px;
    z-index: 100; /*positionが設定されていないと効果なし*/
  }
  /*作品全ページメニュー*/
  .works_all_sp_btn {
    display: block; /*表示させてあげますよ*/
    height: 23px;
    cursor: pointer;
    /* 位置の調整 */
    position: absolute;
    top: -270px;
    right: 32px;
    z-index: 100; /*positionが設定されていないと効果なし*/
  }

  .sp_btn span:nth-of-type(1),
  .works_all_sp_btn span:nth-of-type(1) {
    display: block; /*spanタグはinline要素なため、幅高さを設定できないためblock要素にしてあげる*/
    width: 188px;
    height: 1.5px;
    background: #3e3e3e;
    border-radius: 5px;
    /* 位置の調整 */
    position: relative;
    transition: 0.3s;
  }

  .sp_btn span:nth-of-type(2),
  .works_all_sp_btn span:nth-of-type(2) {
    content: "";
    display: block;
    width: 188px;
    height: 1.5px;
    background: #3e3e3e;
    border-radius: 5px;
    position: absolute;
    top: 18px;
    transition: 0.3s;
  }

  /*メニュー動かす*/
  .sp_btn.open span:nth-of-type(1),
  .works_all_sp_btn.open span:nth-of-type(1) {
    transform: rotate(5deg);
    transform-origin: center;
  }

  .sp_btn.open span:nth-of-type(2),
  .works_all_sp_btn.open span:nth-of-type(2) {
    top: 0;
    transform: rotate(-5deg);
    transform-origin: center;
  }

  /*メニューの中身*/
  .sp_nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(203, 211, 221, 0.6);
  }

  .works_all_sp_nav {
    position: absolute;
    top: -308px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(203, 211, 221);
    z-index: 10;
  }

  .sp_nav ul,
  .works_all_sp_nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px;
    gap: 56px;
    height: 100%;
    z-index: 1000;
  }

  .sp_nav ul li,
  .works_all_sp_nav ul li {
    font-size: 1.44rem;
  }

  .sp_nav ul li:last-child,
  .works_all_sp_nav ul li:last-child {
    width: 195px;
  }

  /*画面を固定・コンセプトやスクロールバーを非表示*/
  body.menu_fix {
    overflow: hidden;
  }

  .pf_title.invisible,
  .pf_concept.invisible,
  .mail_icon.invisible,
  .scroll_down.invisible {
    display: none;
  }

  /*メールアイコン*/
  .mail_icon {
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 5px 0 0 5px;
    background-color: var(--accent_color02);
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .mail_icon > img {
    width: 40px;
  }

  /* トップWORKS SP*/
  /*配置*/
  .works_section {
    margin: 96px auto 0 auto;
  }

  .works_header {
    margin-right: 7.5%;
  }

  .works_section article div {
    flex-direction: column;
    width: 83.3%;
    margin: 0 auto;
  }

  .works_section article div div {
    width: 100%;
    margin: 0 auto;
  }

  article:first-of-type {
    margin-top: 48px;
  }

  article:not(:first-of-type) {
    margin-top: 72px;
  }

  /*文字と画像順番*/

  /*ヘアサロン順番*/
  .works_content {
    display: contents;
  }

  .works_category02 {
    order: -1;
  }

  .works_title02 {
    order: -1;
  }

  /*ポートフォリオ・カフェ順番*/
  .works_content01,
  .works_content02 {
    display: contents;
  }

  .works_category {
    order: -1;
  }

  .works_title {
    order: -1;
  }

  .works_item {
    order: 0;
  }

  .works_discription {
    order: 1;
  }

  .works_sub_category,
  .works_sub_category03 {
    order: 2;
  }
  .works_btn {
    order: 3;
  }

  /*WORKS SPの共通コンテンツ*/
  .works_item {
    width: 100%;
  }

  article:first-of-type .works_item {
    margin-top: 24px;
  }

  .works_category,
  .works_category02 {
    align-self: flex-start;
    margin-top: 48px;
  }
  .works_title,
  .works_title02 {
    font-size: 0.875rem;
    font-weight: bold;
    margin-top: 8px;
    align-self: flex-start;
  }

  .works_discription,
  .works_discription02 {
    font-size: 0.8125rem;
    line-height: 1.54;
    margin-top: 24px;
  }

  /*SPカテゴリーの青い点線*/
  .works_sub_category::after {
    content: "";
    display: block;
    width: 149px;
    border-bottom: 1px dotted var(--accent_color01);
    padding-top: 4px;
  }

  .works_sub_category02::after,
  .works_sub_category03::after {
    content: "";
    display: block;
    width: 108px;
    border-bottom: 1px dotted var(--accent_color01);
    padding-top: 4px;
  }
  /*SP版WORKS_ボタン*/
  .works_btn,
  .works_btn02 {
    width: 152px;
    font-size: 0.875rem;
    padding: 16px 10px;
    margin-left: auto;
  }

  .view_all_wrapper {
    max-width: 300px;
    margin-top: 108px;
  }

  /*works_all SP版*/
  .works_all_wrapper {
    max-width: 90%;
  }

  .flex_01,
  .flex_02 {
    max-width: 100%;
    flex-direction: column;
    margin: 0 auto;
  }

  .flex_01_innner,
  .flex_02_innner {
    max-width: 100%;
  }

  .flex_02 {
    flex-wrap: nowrap;
  }

  .flex_02_inner:nth-of-type(3),
  .flex_02_inner:nth-of-type(4) {
    margin-top: 0;
  }

  .title_flex {
    flex-direction: column;
  }
  .title_flex p:nth-child(2) {
    font-size: 1rem;
    margin-top: 8px;
  }
  .works_all_discription {
    display: block;
    width: 100%;
    line-height: 1.86;
  }

  .works_all_title {
    margin-top: 108px;
  }

  .works_all_title::after {
    content: "";
  }

  .works_all_category {
    text-align: left;
  }

  /*スクロールバー削除*/
  .no_scroll {
    display: none;
  }
}
/*957px版*/
@media screen and (max-width: 957px) {
  .main_visual {
    width: 400px;
  }

  .pf_concept {
    width: 190px;
  }

  h1 {
    top: 150px;
    left: -42%;
  }

  .scroll_down p {
    left: 55px;
    font-size: 0.875rem;
  }
  .scroll_down:after {
    left: 62px;
    height: 180px;
  }

  .scroll_down:before {
    left: 57.5px;
    width: 10px;
    height: 10px;
  }
  /* 
  .roop_wrapper01 {
    bottom: 0;
    right: 0;
  } */

  @keyframes circlemove {
    0% {
      top: 730px;
    }
    100% {
      top: 890px;
    }
  }
}

/*830pxスマフォ版*/
@media screen and (max-width: 830px) {
  /*画像*/
  .main_visual {
    width: 100%;
  }

  .hero_img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  h1 {
    top: 200px;
    left: 10%;
  }

  .roop_wrapper01 {
    transform: scaleX(-1);
  }

  /*メールアイコン*/
  .mail_icon {
    width: 56px;
    height: 56px;
  }

  .mail_icon > img {
    width: 28px;
  }

  .scroll_down {
    display: none;
  }

  /*SP版ABOUT*/
  /*flex解除 floatがきかない・・・*/

  .about_header {
    max-width: 83.3%;
    padding-top: 64px;
  }

  .about_section {
    margin-top: 126px;
  }

  .about_wrapper {
    display: block;
    max-width: 83.3%;
    margin-top: 16px;
    padding-bottom: 120px;
  }

  .profile_wrapper {
    width: 100%;
  }

  .about_img {
    width: 186px;
    max-width: 186px;
    float: right;
    margin: 0 0 16px 16px;
  }

  .name_wrapper {
    flex-direction: column;
  }

  .name_wrapper p:first-child {
    display: block;
    margin-right: auto;
    margin-top: 16px;
    font-size: 0.875rem; /* 1つ目のp */
  }

  .name_wrapper p:last-child {
    display: block;
    margin-right: auto;
    font-size: 0.625rem; /* 2つ目のp */
    padding-top: 4px;
    padding-left: 0;
  }

  .about_discription {
    font-size: 0.812rem;
    line-height: 1.54;
    padding-top: 32px;
  }

  .about_discription > br {
    display: none;
  }

  .about_btn {
    width: 280px;
    margin: 56px auto 0 auto;
  }

  /*SP版ページ中間のバー*/
  .bar {
    height: 360px;
  }

  .bar div:after {
    height: 168px;
  }

  .bar div:before {
    width: 10px;
    height: 10px;
  }

  /*SP版コンタクト*/
  .contact_section {
    padding: 0 40px;
  }
  .contact_wrapper {
    flex-direction: column;
    margin-top: 52px;
  }

  .contact_wrapper > div,
  .contact_wrapper > form {
    width: 100%;
  }

  /*文字位置調整*/
  .c-form_item:first-child {
    margin-top: 28px;
  }
  .contact_wrapper > div > p {
    font-size: 0.75rem;
  }

  .c-form_label {
    font-size: 0.875rem;
  }

  .c-form_item:not(:first-child) .c-form_label {
    margin-top: 33px;
  }

  .c-form_input {
    margin-top: 4px;
  }
  .c-form_submit {
    margin: 56px auto 0 auto;
    max-width: 306px;
  }

  /* SP版フッター */
  footer {
    margin: 268px 0 48px 0;
  }
}

/*
〜新しい質問〜

〜未対応メモ（自分で挑戦）〜
・残りのあしらい（レスポンシブの０２・０３は完全未対応。０１は、一番小さい画面時が残っている。）

〜授業時に確認〜
・FVのSP版830以下のとき、写真が全画面に切り替わるのだけれど、画像・・・なんか大きい　もうすこし全体までうつしたい。７００PXくらいがちょうどいい。


・作品全ページのあしらいがうまくいかない。flex_01を基準にしようと思った。だけど、親要素1000pに指定している中に記述したため、親の幅を超えられない。
親を超える方法として「100vw と　」を記述する方法があるということで試す。しかし、100vwであるため横スクロールが発生する・・・。ため１００％になおしたけど、
そうすると画像がイメージより小さくなってしまう・・・
→flex_01に基準を設けようとするのは一般的か？
→width150%とかにして調整することはあるのか？
→position:relativeって親要素以外につけても機能するのか？
いまあしらい４はworksall_sectionに入れているけど、外に出して、works_all_sectionにrelative設定しても意味あるのか？
→あしらい２　−３０００pxに設定しているけど・・・一般的にはもっと近いものを基準とする・・・？

・WORKS「ポートフォリオ」などはpではなくh３がよかった？
・TOP画面以外のページも同じCSSファイルに記述していくの？
・Github URLの作り方。saveが押せない。
・サンクスページのURLってなに？？？
・WORKSALL SP版　ポートフォリオ　配置調整 いまのHTMLで配置できるのか？
・



〜回答済み〜
.(回答いただき済み：授業）コンセプトの配置に苦戦。
　1)vhで計算したものの、1340px幅（本当は1440pxでデザインしなくてはいけなかったのに間違えていました・・・）にしたときの見え方が、aiデータより下に見える。なぜか？
　２）画面幅を拡大・縮小したときに位置が大きくずれる

★(回答いただき済み)
・ファビコンずれてる？デザインの問題か？
・画像が荒い。書き出しの問題というよりは、もともとのデータのせいか？
・pf_conceptクラスは、1340pxのとき262pxにしたいが、デベロッパーツールでみるとなぜか300pxになっている。
・works 「view more」ボタンと画像の下のラインはそろえることができたが、「＃Website」なども画像の頭と揃えたい。
・aboutの背景画像。次のセクションとの境目がくっきりわかれてしまっている。本当はデザインデータのように境目をなくしたい。
・about_headerを常にデザインとおりの位置に配置したい。今は％で記述してしまっていることが原因かと思うが、うまく変更できなかった。
・.roop_design01の配置に苦戦。1340px以下になると、どんどん.hero_imgに近づいてやがて画面から消えてしまう。
本当はどの画面幅でも、比率を保って、.hero_imgとの距離を一定に保ちたい。
positonの使い方がイマイチ理解できていない・・・.
top-480pxというのは、headerを親としているのか、.main_visualを親としているのか・・・
.main_visualを親にすれば、画像同士の距離を一定にできると思ったものの、実現できなかった。
・SP版WORKS部分、文字で画像を挟むデザイン。ポートフォリオの部分は並び替えができたが、
ヘアサロンやDESIGNCAFEには効かない。
・About部分、文字が画像に沿うようなデザインをしたいが、うまくできない・・・
floatで試してみましたが、文章と画像が２段に分かれてしまう。
・ギットハブ　スマホ確認できるURLについて
・works_all.htmlについて
　作品の配置がうまくいかない。
　①gridでなくflexの使用がよいか？（gridでトライしたものの、１枚目の画像が元々他の画像の高さ２倍だったからか上手く配置できなかった。
　②flexで画像は３枚配置できたものの、htmlの80行目・89行目を記述すると文字とセットの画像は縦並びにしたいのに横並びになってしまう。

.コンタクトフォーム正しく実装されているか確認するためには、自分で入力・送信をしてみて、グーグルフォームに回答があるかをみればいいか
・前回の添削の中での疑問。roop_design01の位置調整について
なぜもともとroop_design01についていたpositionを.roop_wrapperに移動したのか？
一般的に、imgをdivで囲っていて、その要素をたちを位置調整したい場合には、divにつけてあげるのが主流なのか？


〜自分用メモ〜
・ヘッダーの視認性UPどうするか
・画像を入れ替え

・サンクスページ未対応
・コピーライトこれでいいのか？
・ABOUTSP版文字右端ガタガタなの気になるな・・・
・WORKS全紹介ページ　カテゴリ下線をつける
・WORKSALL SP版　ポートフォリオ　配置調整
・.works_all_sp_nav メニュー開いた時どういうデザインにするか考える・・・
  */
