@charset "utf-8";

/* ヘッダー */

header {
    position: relative
}

.main_visual {
    width: 100%;
}

.main_visual img {
    display: block;
    margin: 0 auto;
}

nav {
    position: fixed;
    top: 48px;
    right: 48px
}

.header_nav_btn {
    width: 190px;
    padding-right: 7px;
}

.header_list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}


.pf_title {
    display: flex;
    align-items: flex-end;
    font-size: 18px;
}

.pf_title > div >p:last-child {
    margin-top: 11px;
}

.pf_title span{
    padding-left: 4px;
}

h1 {
    position: absolute;
    top: clamp(200px, 40vh, 400px);
    left: clamp(100px, 12.5vw, 250px);

}
h1 div:last-child {
    margin-top: 32px;
}
.pf_concept{
    width: 262px;
}

/* スクロールバー */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

.scroll_down p{
  position: absolute;
  top:632px;
  left: 111px;
  color: var(--accent_color_gd);
  font-size: 16px;
  writing-mode: vertical-lr;
  text-decoration: none;
  text-transform: uppercase;
}
.scroll_down:after{
  content:"";
  position: absolute;
  top:725px;
  left:119px;
  width:1px;
  height: 272px;
  background: var(--accent_color_gd);
  z-index: 1;
}

.scroll_down:before {
  content: "";
  position: absolute;
  top: 750px;
  left: 113px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--accent_color_gd);
  animation:
    circlemove 1.8s ease-in-out infinite,
    cirlemovehide 1.8s ease-out infinite;
    z-index: 10;
}

@keyframes circlemove{
  0%{top:750px;}
  100%{top:990px;}
}

@keyframes cirlemovehide{
  0%{opacity:0}
  50%{opacity:1;}
  80%{opacity:0.9;}
  100%{opacity:0;}
}

/* WORKS parallaxまで手をつけれたらいいな*/
.works_section {
  max-width: 1000px;
  margin:  550px auto 0 auto;
  padding: 0 10px;
}

  .works_header { /*グラデーションの動きをつける*/
    font-weight: bold;
    text-align: right;
  }

  article:not(:first-child) {
    margin-top: 146px;
  }

  /*文章と画像を横並びにする*/
  article > div {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
  }

  /*画像を510pxまでにする*/ 
  article > div:nth-child(2) {
    max-width: 510px;
  }

  /*ポートフォリオ紹介*/
article > div > div:first-child {
  width: 48.5%;
}

article > div > div:last-child {
  width: 51.8%;
}


/*ポートフォリオ以外紹介*/
  article:not(:first-of-type) > div > div {
  width: 48.4%;
  /* (1000px-32px)/2=484px*/
  /* 484/1000=0.484 */
}

/*WORKSの共通コンテンツ*/
.works_content {
  padding-top: 38px;
}  

  .works_category,
  .works_sub_category {
    font-size: 12px;
  }

  .works_sub_category {
    color: var(--base_color_light);
    margin-top: 20px;
  }

  .works_title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 24px;
  }

  .works_discription {
    font-size: 14px;
    line-height: 1.86;
    margin-top: 40px;
  }

  .works_sub_category::after {
    content: "";
    display: block;
    width: 149px;
    border-bottom: 1px dotted var(--accent_color01);
    padding-top: 4px;
  }

  /*WORKS_ボタン*/
.works_btn{
  display: inline-block;
  width: 226px;
  font-size: 14px;
  border: 1px dotted #3e3e3e;
  border-radius: 5px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.works_btn::after {
  content: "";
  display: block;
  width: 16px;
  border-bottom: 1px solid var(--base_color_light);
  margin-left: 16px;
}


/*WORKS_ViewAllボタン のちほどボタン背景だけ画像で準備する*/

.view_all_btn {
  display: inline-block;
  width: 314px;
  font-size: 18px;
  color: #fff;
  background: var(--accent_color_gd90);
  border: 1px dotted var(--accent_color02);
  border-radius: 5px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px auto 0 auto;
}

.view_all_btn::after {
  content: "";
  display: block;
  width: 32px;
  border-bottom: 1px solid #fff;
  margin-left: 24px;
}

/*ABOUT*/
.about_header { 
    max-width: 1000px;
    margin:0 auto;
    padding-top: 88px;
    text-align: left;
    color: #fff;
    margin-left: 12.5%;
  }

.about_section {
  background-image: url(../images/1x/about_back.png);
    width: 100vw;         
    background-size: cover; 
    background-position: center;
    margin-top: 420px;
    box-sizing: border-box;
    position: relative;
  
 } 


.about_wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 830px;
  margin:  118px auto 0 auto;
  padding-bottom: 224px;

  
}

.about_wrapper > div:first-child {
  width: 45%;
}

.about_wrapper > div:last-child {
  width: 312px;
  max-width: 312px;
}

.name_wrapper {
  display: flex;
  align-items: flex-end;
}

.name_wrapper p {
  color: #fff; /* 共通の文字色 */
}

.name_wrapper p:first-child {
  font-size: 18px; /* 1つ目のp */
}

.name_wrapper p:last-child {
  font-size: 14px; /* 2つ目のp */
  padding-left: 8px;
}

.about_discription {
  font-size: 14px;
  color: #fff;
  line-height: 1.86;
  padding-top: 28px;
}


.about_img {
   width: 100%;
}

.about_btn {
display: inline-block;
  width: 226px;
  font-size: 14px;
  background-color: #fff;
  border: 1px dotted #3e3e3e;
  border-radius: 5px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.about_btn::after {
  content: "";
  display: block;
  width: 16px;
  border-bottom: 1px solid var(--base_color_light);
  margin-left: 16px;
}

/*ページ中間のバー*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

.bar {
  height: 546px;
  position: relative;
}

.bar div:after{
  content:"";
  position: absolute;
  top: 50%;   /* 親要素の縦の真ん中 */
  left: 50%;  /* 親要素の横の真ん中 */
  transform: translate(-50%, -50%); /* 要素自身の大きさ分ずらして中央揃え */
  width:1px;
  height: 196px;
  background: var(--accent_color_gd);
  z-index: 1;
}

/*FVをコピペすればいいかとおもったけど、こっちを揃えるとFVがずれる・・・＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
/* .bar div:before {
  content: "";
  position: absolute;
  top: 50%;   
  left: 50%;  
  transform: translate(-50%, -50%); 
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--accent_color_gd);
  animation:
    circlemove 1.8s ease-in-out infinite,
    cirlemovehide 1.8s ease-out infinite;
    z-index: 10;
} */

/* @keyframes circlemove{
 0% { transform: translate(-50%, -50%) translateY(-72px); }
  100% { transform: translate(-50%, -50%) translateY(88px); } 
}

@keyframes cirlemovehide{
  0%{opacity:0}
  50%{opacity:1;}
  80%{opacity:0.9;}
  100%{opacity:0;}
}============================================================================================================ */

/*コンタクト*/
/*h2*/
.contact_section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.contact_header {
  font-weight: bold;
    text-align: left;
}


.contact_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.contact_wrapper > div {
  width: 31.4%;
}

.contact_wrapper > form {
  width: 48.3%;
}

.c-form_item {
  display: flex;
  flex-direction: column;
}

.c-form_label {
  font-size: 16px;
}


.c-form_item:not(:first-child) .c-form_label {
  margin-top: 38px;
}

/*アスタリスク*/
.c-form_item:nth-child(2) .c-form_label::after,
.c-form_item:nth-child(3) .c-form_label::after,
.c-form_item:nth-child(4) .c-form_label::after{
  content: "*";
  vertical-align: top;
  color: #ed1c24;
  font-size: 10px;
}

.c-form_item:nth-child(2) .c-form_label::after,
.c-form_item:nth-child(4) .c-form_label::after {
    padding-left: 3px;
}

.c-form_item:nth-child(3) .c-form_label::after{
  padding-left: 1px;
}

/*入力欄*/
.c-form_input {
  width: 100%;
  margin-top: 14px;
  padding: 11.5px 0;
  border:1px solid var(--accent_color02);
  border-radius: 5px;
  box-sizing: border-box;

}

.c-form_input:focus {
border:1px solid var(--accent_color01);
outline:0;
}

.contact_wrapper p {
  font-size: 14px;
  line-height: 1.86;
}

textarea.c-form_input {
  line-height: 1.5em;
  padding: 48px 0;
  font-family: none;
}

/*送信ボタン*/
.c-form_submit {
  max-width: 276px;
}
.c-form_submit img {
  width: 100%
}


/* .about_wrapper > div {
  display: flex;
  align-items: center;
} */

/* 

【htmlファイル】


【cssファイル】
・ABOUT背景画像、境目がくっきり・・・

.(回答いただき済み：授業）コンセプトの配置に苦戦。
　1)vhで計算したものの、1340px幅（本当は1440pxでデザインしなくてはいけなかったのに間違えていました・・・）にしたときの見え方が、aiデータより下に見える。なぜか？
　２）画面幅を拡大・縮小したときに位置が大きくずれる

・（回答いただき済み：自分で挑戦）scroll
　グラデーションが反映しない。
　colorプロパティには単色しか反映しない？ 
  background-cripプロパティを使用して背景色を文字にクリッピングするのがよい方法なのか？

★自分で確認
・DESIGN CAFEのカテゴリー　ラインが長い
・WORKSの「View all Works」の現時点のイメージが異なるため画像を入れるのがいいかと思っている。その場合は、svg

★(回答いただき済み)
・ファビコンずれてる？デザインの問題か？
・実感worksのボタンの文字と線が真ん中でない？
・画像が荒い。書き出しの問題というよりは、もともとのデータのせいか？
 

0823授業聞きたいこと
・FVの位置調整
・ページ中間のアニメーション
FVコピペして、位置の数値の調整だけすればいいとおもったけど、数値を変えてしまうと、FWの方も変わってしまう！！
URL先の記述の数値指定するクラス名てきなやつが一緒だから、、、どうするべきか
・フォームのaction リンクはどれ・・・・
・項目入力の位置を変えられるか。
・あしらい、画像でいれといていいのか？それとも動きの際に入れるべきなのか？

・クラス名でなく、divとかpに記述するとき。＞をつけるか　スペースをつけるか、、、など迷いがち。いいサイトがあれば教えていただきたい。
・まだコードきれいにならないね？？？
・入力位置も半角スペース開けられるのか？


ボタン 画像で。WORKSALLのボタンも差し替え
コピーライト
文字をpxから変更
ヘッダーの視認性UPのために・・・・
  */