@charset "utf-8";

/* ヘッダー */

header {
  position: relative;
}

.main_visual {
  width: 555px;
  margin: 0 auto;
  position: relative;
}

.main_visual img {
  /* display: block; */
  width: 100%;
}

nav {
  position: fixed;
  top: 48px;
  right: 48px;
}

nav a {
  font-size: 1.5rem;
}

.header_nav_btn {
  width: 190px;
  padding-right: 7px;
}

.header_list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.pf_title {
  display: flex;
  align-items: flex-end;
}

.pf_title > div p {
  font-size: 1.125rem;
}

.pf_title > div > p:last-child {
  margin-top: 11px;
}

.pf_title span {
  padding-left: 4px;
}

h1 {
  position: absolute;
  top: 400px;
  left: -50%;
}

h1 div:last-child {
  margin-top: 32px;
}

.pf_concept {
  width: 262px;
}

/* スクロールバー */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap");

.scroll_down p {
  position: absolute;
  top: 632px;
  left: 111px;
  font-size: 1rem;
  writing-mode: vertical-lr;
  text-decoration: none;
  text-transform: uppercase;

  /* グラデーション */
  background: linear-gradient(#181e4d, #4e7fa1, #8aecff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.scroll_down:after {
  content: "";
  position: absolute;
  top: 725px;
  left: 119px;
  width: 1px;
  height: 272px;
  background: var(--accent_color_gd);
  z-index: 1;
}

.scroll_down:before {
  content: "";
  position: absolute;
  top: 750px;
  left: 113px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--accent_color_gd);
  animation: circlemove 1.8s ease-in-out infinite,
    cirlemovehide 1.8s ease-out infinite;
  z-index: 10;
}

@keyframes circlemove {
  0% {
    top: 750px;
  }
  100% {
    top: 990px;
  }
}

@keyframes cirlemovehide {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
  }
}

/* WORKS parallaxまで手をつけれたらいいな*/
.works_section {
  max-width: 1000px;
  margin: 550px auto 0 auto;
  padding: 0 10px;
}

.works_header {
  font-weight: bold;
  text-align: right;
  font-size: 1.5rem;
}

.works_header span {
  /* グラデーション 動きをつける*/
  background: linear-gradient(90deg, #181e4d, 80%, #8aecff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

article:not(:first-child) {
  margin-top: 146px;
}

/*文章と画像を横並びにする*/
article > div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 110px;
}

/*画像を510pxまでにする*/
article > div:nth-child(2) {
  max-width: 510px;
}

/*ポートフォリオ紹介*/
article > div > div:first-child {
  width: 48.5%;
}

article > div > div:last-child {
  width: 51.8%;
}

/*ポートフォリオ以外紹介*/
article:not(:first-of-type) > div > div {
  width: 48.4%;
  /* (1000px-32px)/2=484px*/
  /* 484/1000=0.484 */
}

/*WORKSの共通コンテンツ*/
.works_content {
  padding-top: 38px;
}

.works_category,
.works_sub_category,
.works_sub_category02 {
  font-size: 0.75rem;
}

.works_sub_category,
.works_sub_category02 {
  color: var(--base_color_light);
  margin-top: 20px;
}

.works_title {
  font-size: 1.125rem;
  font-weight: bold;
  margin-top: 24px;
}

.works_discription {
  font-size: 0.875rem;
  line-height: 1.86;
  margin-top: 40px;
}

/*カテゴリーの青い点線*/
.works_sub_category::after {
  content: "";
  display: block;
  width: 149px;
  border-bottom: 1px dotted var(--accent_color01);
  padding-top: 4px;
}

.works_sub_category02::after {
  content: "";
  display: block;
  width: 108px;
  border-bottom: 1px dotted var(--accent_color01);
  padding-top: 4px;
}
/*WORKS_ボタン*/
.works_btn {
  display: inline-block;
  width: 226px;
  font-size: 0.875rem;
  border: 1px dotted #3e3e3e;
  border-radius: 5px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.works_btn::after {
  content: "";
  display: inline-block;
  width: 16px;
  border-bottom: 1px solid var(--base_color_light);
  margin-left: 16px;
}

/*WORKS_ViewAllボタン のちほどボタン背景だけ画像で準備する*/

.view_all_wrapper {
  max-width: 312px;
  margin: 150px auto 0 auto;
  position: relative;
}

.view_all_wrapper img {
  width: 100%;
}

.view_all_wrapper p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;
}

.view_all_wrapper p::after {
  content: "";
  display: inline-block;
  width: 32px;
  border-bottom: 1px solid #fff;
  border-radius: 5px;
  margin-left: 16px;
}

/*ABOUT*/
.about_header {
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 88px;
  text-align: left;
  color: #fff;
  margin-left: 12.5%;
  font-size: 1.5rem;
}

.about_section {
  background-image: url(../images/1x/about_back.png);
  background-size: cover;
  background-position: center;
  margin-top: 420px;
  box-sizing: border-box;
  position: relative;
}

.about_wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 830px;
  margin: 118px auto 0 auto;
  padding-bottom: 224px;
}

.about_wrapper > div:first-child {
  width: 45%;
}

.about_wrapper > div:last-child {
  width: 312px;
  max-width: 312px;
}

.name_wrapper {
  display: flex;
  align-items: flex-end;
}

.name_wrapper p {
  color: #fff; /* 共通の文字色 */
}

.name_wrapper p:first-child {
  font-size: 1.125rem; /* 1つ目のp */
}

.name_wrapper p:last-child {
  font-size: 0.875rem; /* 2つ目のp */
  padding-left: 8px;
}

.about_discription {
  font-size: 0.875rem;
  color: #fff;
  line-height: 1.86;
  padding-top: 28px;
}

.about_img {
  width: 100%;
}

.about_btn {
  display: inline-block;
  width: 226px;
  font-size: 0.875rem;
  background-color: #fff;
  border: 1px dotted #3e3e3e;
  border-radius: 5px;
  padding: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.about_btn::after {
  content: "";
  display: block;
  width: 16px;
  border-bottom: 1px solid var(--base_color_light);
  margin-left: 16px;
}

/*ページ中間のバー*/
.bar {
  height: 546px;
  position: relative;
}

.bar div:after {
  content: "";
  position: absolute;
  top: 50%; /* 親要素の縦の真ん中 */
  left: 50%; /* 親要素の横の真ん中 */
  transform: translate(-50%, -50%); /* 要素自身の大きさ分ずらして中央揃え */
  width: 1px;
  height: 196px;
  background: var(--accent_color_gd);
  z-index: 1;
}

.bar div:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--accent_color_gd);
  animation: circlemove_aaa 1.8s ease-in-out infinite,
    cirlemovehide 1.8s ease-out infinite;
  z-index: 10;
}

@keyframes circlemove_aaa {
  0% {
    transform: translate(-50%, -50%) translateY(-72px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(88px);
  }
}

/*コンタクト*/
/*h2*/
.contact_section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}

.contact_header {
  font-weight: bold;
  text-align: left;
  font-size: 1.5rem;
}

.contact_header > span {
  /* グラデーション 動きをつける*/
  background: linear-gradient(90deg, #181e4d, 80%, #8aecff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contact_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
}
.contact_wrapper > div {
  width: 31.4%;
}

.contact_wrapper > form {
  width: 48.3%;
}

.c-form_item {
  display: flex;
  flex-direction: column;
}

.c-form_label {
  font-size: 1rem;
}

.c-form_item:not(:first-child) .c-form_label {
  margin-top: 38px;
}

/*アスタリスク*/
.c-form_item:nth-child(2) .c-form_label::after,
.c-form_item:nth-child(3) .c-form_label::after,
.c-form_item:nth-child(4) .c-form_label::after {
  content: "*";
  vertical-align: top;
  color: #ed1c24;
  font-size: 0.625rem;
}

.c-form_item:nth-child(2) .c-form_label::after,
.c-form_item:nth-child(4) .c-form_label::after {
  padding-left: 3px;
}

.c-form_item:nth-child(3) .c-form_label::after {
  padding-left: 1px;
}

/*入力欄*/
.c-form_input {
  width: 100%;
  margin-top: 14px;
  padding: 11.5px 4px;
  border: 1px solid var(--accent_color02);
  border-radius: 5px;
  box-sizing: border-box;
}

.c-form_input:focus {
  border: 1px solid var(--accent_color01);
  outline: 0;
}

.contact_wrapper p {
  font-size: 0.875rem;
  line-height: 1.86;
}

textarea.c-form_input {
  line-height: 1.5em;
  padding: 8px 4px 96px 4px;
  font-family: none;
}

/*送信ボタン*/
.c-form_submit {
  max-width: 276px;
  margin-top: 56px;
  margin-left: auto;
  position: relative;
}
.c-form_submit img {
  width: 100%;
}
.c-form_submit button {
  font-size: 1rem;
}

/*文字表示や位置の調節*/
.c-form_submit p {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
.c-form_submit p::after {
  content: "";
  display: inline-block;
  width: 32px;
  border-bottom: 1px solid #fff;
  border-radius: 5px;
  margin-left: 20px;
}

/* フッター */
footer {
  margin: 672px 0 72px 0;
}
footer p {
  font-size: 0.625rem;
  text-align: center;
}

/* .about_wrapper > div {
  display: flex;
  align-items: center;
} */

/* 

〜新しい質問〜
・pf_conceptクラスは、1340pxのとき262pxにしたいが、デベロッパーツールでみるとなぜか300pxになっている。
・works 「view more」ボタンと画像の下のラインはそろえることができたが、「＃Website」なども画像の頭と揃えたい。
・aboutの背景画像。次のセクションとの境目がくっきりわかれてしまっている。本当はデザインデータのように境目をなくしたい。
・about_headerを常にデザインとおりの位置に配置したい。今は％で記述してしまっていることが原因かと思うが、うまく変更できなかった。


〜回答済み〜
.(回答いただき済み：授業）コンセプトの配置に苦戦。
　1)vhで計算したものの、1340px幅（本当は1440pxでデザインしなくてはいけなかったのに間違えていました・・・）にしたときの見え方が、aiデータより下に見える。なぜか？
　２）画面幅を拡大・縮小したときに位置が大きくずれる

・（回答いただき済み：自分で挑戦）scroll
　グラデーションが反映しない。
　colorプロパティには単色しか反映しない？ 
  background-cripプロパティを使用して背景色を文字にクリッピングするのがよい方法なのか？

★(回答いただき済み)
・ファビコンずれてる？デザインの問題か？
・画像が荒い。書き出しの問題というよりは、もともとのデータのせいか？
 


〜自分用メモ〜
・ヘッダーの視認性UPどうするか？
・FVの位置調整
・あしらいを画像に。
・スマフォ版


・コンタクトフォームうまくできているのか？
・サンクスページ未対応
・コピーライトこれでいいのか？
  */
